
<div class="content" th:fragment="project-status-change-content">
			<!-- <tr>
				<td><label th:text="#{project.status.change.team.greetings}"></label>
				</td>
			</tr> -->

			<tr>
				<td><label
					th:text="#{project.manager.change.document(${managerName}, ${projectName}, ${startDate})}"></label>
				</td>
			</tr>
			<tr>
				<td>
					<table class="projectInfo" style="width: 100%;">
						<tr>
							<td>
								<p style="font-weight: 400;">Project Name</p>
								<p th:text="#{project.project-name.change.document(${projectName})}"></p>
							</td>
							<td><label>Account Name</label>
								<p th:text="#{project.account-name.change.document(${accountName})}"></p>
							</td>
							<td><label>New Manager Name</label>
								<p th:text="#{project.manager-name.change.document(${managerName})}"></p>
							</td>
						</tr>
						<tr>
							<td><label>Location</label>
								<p th:text="#{project.location-name.change.document(${location})}"></p>
							</td>
							<td><label>Workgroup</label>
								<p th:text="#{project.workgroup-name.change.document(${workgroup})}"></p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
	<tr>
		<td><label th:text="#{greetings.thanks}"></label>
		</td>
	</tr>
</div>

